---
import "../styles/global.css";
import App from "../components/App.tsx";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bar Chart Tool</title>
  </head>
  <body>
    <App client:load />
  </body>
</html>
